body {
    font-size: 16px;
}
*{
    box-sizing: border-box;
    font-size: inherit;
    margin: 0;
    padding: 0;
}
.wrapper{
    padding: 20px;
    margin: 0 auto;
    width: 1200px;
    max-width: 100%;
}
ul{
    list-style: none;
}
